@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap");
body {
  margin: 0;
  font-family: "Nunito", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #23272d;
}

:root {
  --primary-color: #23272d;
  --secondary-color: #31353a;
  --white: #fff;
  --largeFontSize: 25px;
  --box-shardow: rgba(0, 0, 0, 0.1);
}

/**general styling */
.ant-layout {
  background-color: #fff !important;
}

.ant-btn-primary {
  background-color: #23272d !important;
  border: 1px solid #23272d !important;
}

/*header*/

.nav {
  width: 100%;
  position: absolute;
  top: 0;
  height: 60px;
  box-shadow: 2px 2px 4px 4px var(--box-shardow);
  display: flex;
  flex-direction: row;
}

.nav-title {
  width: 68%;
  height: 100%;
  font-size: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 20px;
}
.nav-title > h1 {
  margin: 0;
}

.nav-links {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 25px;
}
.nav-links > .search {
  cursor: pointer;
}

.container-central {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  width: 100%;
}

.box-shadow {
  box-shadow: 2px 2px 10px 4px var(--box-shardow);
}

/* Auth Page */
.auth-button {
  width: 80px;
  height: 30px;
  border-radius: 2px;
  border: 1px solid var(--white);
  background-color: var(--primary-color);
  color: var(--white);
  cursor: pointer;
  transition: 0.3s ease-in;
  outline: none;
}
.auth-form-container {
  min-height: 500px;
  width: 60%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
}
.auth-form-div {
  margin: 0;
  padding: 10px;
  width: 50%;
  display: flex;
  align-items: center;
}
.auth-form-info {
  width: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  flex-direction: column;
  border-radius: 0 5px 5px 0;
}

.auth-form-info h1 {
  font-size: 35px;
  margin-bottom: 5px;
  color: var(--white);
  font-weight: 300;
}
.auth-form-info p {
  color: var(--white);
}
.forgot-password {
  cursor: pointer;
}
.forgot-password:hover {
  text-decoration: underline;
}

/* home */

.main-container {
  width: 95%;
  margin: 75px 2%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.mixtapes-container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.music-home-div {
  width: 30%;
  padding: 10px;
  height: auto;
}

.music-home-div h1 {
  font-size: 30px;
}

.music-div-content {
  border-radius: 1px;
  box-shadow: 2px 2px 4px 4px var(--box-shardow);
  width: 90%;
  padding: 10px;
}
.ant-card {
  margin-bottom: 10px !important;
}

@media screen and (max-width: 800px) {
  .mixtapes-container {
    width: 95%;
  }
  .music-home-div {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .nav-title h1 {
    font-size: 16px;
  }
}
